/* GENERICS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* UTILS */

/* STRUCTURE */
.wrapper {
  background-color: seagreen;
}

#target-container {
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 50px;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  line-height: 100px;
  display: inline-block;
}
